# Application
APP_ENV=development
DEMO_MODE=true

# Firebase
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
# In production, i'll use one of these instead of FIREBASE_CREDENTIALS_PATH:
# FIREBASE_CREDENTIALS_BASE64=
# FIREBASE_CREDENTIALS_JSON=

# Brevo (email OTP delivery)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=NovaBanq